<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="estilo.css" rel="stylesheet">
    <title>Formulário para Contato</title>
</head>
<body>
    <form action="https://getform.io/" method="post">
        <div>
            <h1>Entre em contato</h1>
            <label for="name">Nome:</label>
            <input type="text" id="nomeid" placeholder="Seu Nome Aqui" required="name"/>
        <br>
        
            <label for="fone">Fone:</label>
            <input type="tel" id="foneid" placeholder="(XX)XX-XX-XX-XX" name="fone"/>
        <br>
            <label for="email">Email:</label>
            <input type="email" id="emailid" placeholder="fulano@mail.com" name="email"/>
        <br>
        <label for="mensagem">Mensagem:</label>
        <textarea placeholder="Deixe sua mensagem" name="mensagem"></textarea>
        <button type="submit">Enviar</button>
        
    </form>
    <footer>
        <div>
           <h4>Referência da Imagem</h4> 
           <p>Imagens de Fleepik </p>
        </div>
    </footer>
</body>
</html>